<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE context PUBLIC "-//Odysseus Software GmbH//DTD Forrester Context 1.0//EN" "./schema/dtd/context.dtd">

<context name="juel">
  <project-ref file="project.xml" xdocs="xdocs"/>

  <skin href="site://skin" home="skin"/>

	<trail>
		<link href="site://juel">
			<item>Home</item>
		</link>
		<link href="http://sourceforge.net/projects/juel/">
			<item>SourceForge</item>
		</link>
		<link href="https://github.com/beckchr/juel/">
			<item>GitHub</item>
		</link>
	</trail>

	<tabs>
		<link href="http://prdownloads.sourceforge.net/juel/juel-2.2.7.zip?download" includes="site">
			<item>Download</item>
		</link>
		<link href="site://juel.pdf">
			<item>PDF</item>
		</link>
	</tabs>

	<external-ref href="http://www.odysseus.de" name="odysseus.de"/>
</context>
